page-drinks {
    .item-md{
        background-color: rgb(10, 10, 10) !important;
        color: white !important;
    }

    .list-header-md{
        color: red !important;
        border-top: none ;
    }
}
